.background{
    -fx-background-repeat:no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}
.whiteText{ /*pinta cualquier texto que la use de color blanco*/
    -fx-text-fill:white;
}
.boldText{ /*transforma cualquier texto que la use en negrita*/
    -fx-font-weight:bold;
}
.bigText{
    -fx-font-size: 19;
}
.darkButton{
    -fx-background-color:orange;
    -fx-border-color: darkgreen;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
}
.darkButton:hover{
    -fx-background-color:darkorange;
}
.darkButton:pressed{
    -fx-background-color: #cc6600;
    -fx-border-color: darkgreen;
    -fx-border-width: 2px;
    -fx-scale-x:0.95;
    -fx-scale-y:0.95;
}

.posDown{
    -fx-background-position: bottom center;
}